version: '3'
services:
  english-reader-app:
    build: .
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    restart: always

networks:
  app-network:
    driver: bridge